:root {
  /* Global variables */
  --hero-margin-bottom: 96px;
  /* Responsive variables */
  --hero-min-height: 100vh;
  --horizontal-min-margin: 16px;
  --horizontal-margin: 0px;
  --hero-more-margin-bottom: 7px;
  --hero-more-padding-bottom: 24px;
  --hero-h1-font-size: 38px;
  --hero-h1-text-align: center;
  --hero-padding-bottom: 40px;
  --subscribe-max-width: 100%;
  --subscribe-flex-direction: column;
  --subscribe-input-margin: 0;
  --subscribe-padding: 40px 16px;
  --footer-margin: 27px 0 43px;
  --footer-copyright: 12px;
  --footer-attribution: 10px;
  --footer-navigation-margin: 0 auto 80px;
  --footer-navigation-flex-direction: column;
  --footer-navigation-align-items: center;
  --figure-flex-direction: column;
  --hero-image-only-height: 183px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  :root {
    --horizontal-min-margin: 40px;
    --horizontal-margin: 64px;
    --hero-more-margin-bottom: 80px;
    --hero-more-padding-bottom: 24px;
    --hero-h1-font-size: 47px;
    --hero-h1-text-align: left;
    --hero-padding-bottom: 80px;
    --subscribe-max-width: 324px;
    --footer-margin: 80px 0 39px;
    --footer-copyright: 16px;
    --footer-attribution: 16px;
    --footer-navigation-margin: 0 160px 80px;
    --footer-navigation-flex-direction: row;
    --footer-navigation-align-items: flex-start;
    --figure-flex-direction: row;
    --hero-image-only-height: 440px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --hero-min-height: 800px;
    --horizontal-min-margin: 96px;
    --horizontal-margin: 188px;
    --hero-more-margin-bottom: 80px;
    --hero-more-padding-bottom: 24px;
    --hero-h1-font-size: 76px;
    --hero-h1-text-align: left;
    --hero-padding-bottom: 80px;
    --subscribe-flex-direction: row;
    --subscribe-input-margin: 0 80px;
    --subscribe-padding: 54px 96px;
    --footer-margin: 80px 0 46px;
    --footer-copyright: 16px;
    --footer-attribution: 16px;
    --footer-navigation-margin: 0 auto 80px;
    --footer-navigation-flex-direction: row;
    --footer-navigation-align-items: flex-start;
    --figure-flex-direction: row;
    --hero-image-only-height: 440px;
  }
}

:root {
  /* Calculated variables */
  --standard-margin: calc(var(--horizontal-min-margin) + var(--horizontal-margin));
}

main>article {
  margin: 0 var(--standard-margin);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 calc(-1 * var(--standard-margin)) var(--hero-margin-bottom);
  padding: 0 var(--standard-margin) var(--hero-padding-bottom);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero, .hero a {
  color: var(--inverse-text-color);
}

.hero h1, .hero p {
  padding: 0 0 16px;
}

.hero h1 {
  font-size: var(--hero-h1-font-size);
  text-align: var(--hero-h1-text-align);
}

.hero .figcaption {
  width: fit-content;
  margin: 40px auto;
  border-bottom: solid 2px var(--inverse-text-color);
}

@media screen and (min-width: 768px) {
  .hero .figcaption {
    margin: 40px auto 56px;
  }
}

.hero .more {
  align-self: center;
  background-image: url("/uploads/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero:first-child {
  min-height: var(--hero-min-height);
  background-image: var(--hero-mobile-background-image);
  background-position: var(--hero-mobile-background-position, center);
  background-repeat: no-repeat;
}

.hero:first-child h1 {
  font-size: var(--h1-font-size);
}

@media screen and (min-width: 768px) {
  .hero:first-child {
    background-image: var(--hero-desktop-background-image);
    background-position: var(--hero-desktop-background-position, center);
  }
}

.hero.image-only {
  height: var(--hero-image-only-height);
  padding: 0;
  margin-bottom: 0;
}

.hero.social-proof {
  background-color: #F2F2F2;
  color: var(--normal-text-color);
  padding: 60px 16px 4px;
}

.video {
  position: relative;
  width: 100%;
  min-width: 100%;
  padding-bottom: 56.25%;
  margin: 80px 0;
}

.video>iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-buttons li {
  margin: 0 12px 80px;
}

.columns {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
  .columns figure {
    margin-right: 40px;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .counter {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .counter {
    align-items: baseline;
  }
}

.counter ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 40px 11px 24px 0;
}

.counter ul li {
  position: relative;
  margin: 0 1px 0 0;
  width: 29px;
  height: 48px;
  background-color: #EDEDED;
  color: #333333;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  z-index: 0;
}

@media screen and (min-width: 1280px) {
  .counter ul li {
    width: 48px;
    height: 80px;
    font-size: 40px;
  }
}

.counter ul li::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-top: solid 1px #828282;
  z-index: -1;
}

.subscribe {
  display: flex;
  flex-direction: var(--subscribe-flex-direction);
  align-items: center;
  width: 100%;
  background-color: #150A59;
  text-align: center;
  padding: var(--subscribe-padding);
}

.subscribe .input {
  flex: 1;
  margin: var(--subscribe-input-margin);
  width: 100%;
}

.subscribe, .subscribe a {
  color: var(--inverse-text-color);
}

.subscribe heading {
  font-size: var(--p-font-size);
}

.subscribe h1 {
  padding-bottom: 8px;
}

.subscribe .email-container {
  margin: 40px 0;
}

.subscribe .email {
  max-width: var(--subscribe-max-width);
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #FFFFFF;
  padding: 4px;
  text-align: center;
  font-size: var(--p-font-size);
  color: var(--inverse-text-color);
}

.subscribe .email::placeholder {
  color: var(--inverse-text-color);
}

.subscribe .call-to-action {
  color: #150A59;
  background-color: #FFFFFF;
  border: 0;
}

footer {
  margin: var(--footer-margin);
}

footer .h-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .u-photo {
  width: 80px;
}

@media screen and (min-width: 768px) {
  footer .u-photo {
    width: 112px;
  }
}

footer .u-email {
  margin: 24px 0;
  text-decoration: none;
}

footer .copyright, footer .attribution {
  letter-spacing: 0.02em;
}

footer .copyright {
  font-size: var(--footer-copyright);
  padding: 16px;
}

footer .attribution {
  font-size: var(--footer-attribution);
  padding: 0 40px;
}

footer .attribution, footer .attribution a {
  color: #828282;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .navigation {
  display: flex;
  justify-content: center;
  font-size: var(--p-font-size);
  line-height: 1.375em;
  margin: var(--footer-navigation-margin);
}

footer .navigation a {
  display: block;
  padding: 0 0 8px;
  text-decoration: none;
  letter-spacing: 0.05em;
}

footer .navigation>ul {
  display: flex;
  flex-direction: var(--footer-navigation-flex-direction);
  flex-wrap: wrap;
  align-items: var(--footer-navigation-align-items);
  justify-content: space-between;
}

footer .navigation>ul>li {
  margin-bottom: 40px;
  width: 175px;
}

@media screen and (min-width: 1280px) {
  footer .navigation>ul>li {
    width: 200px;
  }
}

footer .navigation>ul>li>a {
  font-weight: bold;
  letter-spacing: initial;
}

.numbers {
  border-top: solid 1px #828282;
  border-bottom: solid 1px #828282;
  margin-bottom: 80px;
}

.numbers .blocks {
  justify-content: space-between;
  flex-direction: var(--figure-flex-direction);
}

.figure {
  display: flex;
  justify-content: center;
  color: #150A59;
  font-family: var(--serif-font-family);
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
  text-align: center;
  min-height: 96px;
  padding: 0;
}

.caption {
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: #333333;
  padding: 0 8px;
}