:root {
  /* Global variables */
  --hero-margin-bottom: 96px;
  /* Responsive variables */
  --hero-min-height: 533px;
  --horizontal-min-margin: 16px;
  --horizontal-margin: 0px;
  --hero-more-margin-bottom: 7px;
  --hero-more-padding-bottom: 24px;
  --hero-h1-font-size: 38px;
  --hero-h1-text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  :root {
    --hero-min-height: 800px;
    --horizontal-min-margin: 40px;
    --horizontal-margin: 64px;
    --hero-more-margin-bottom: 80px;
    --hero-more-padding-bottom: 24px;
    --hero-h1-font-size: 47px;
    --hero-h1-text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --hero-min-height: 800px;
    --horizontal-min-margin: 96px;
    --horizontal-margin: 188px;
    --hero-more-margin-bottom: 80px;
    --hero-more-padding-bottom: 24px;
    --hero-h1-font-size: 76px;
    --hero-h1-text-align: left;
  }
}

:root {
  /* Calculated variables */
  --standard-margin: calc(var(--horizontal-min-margin) + var(--horizontal-margin));
}

main>article {
  margin: 0 var(--standard-margin);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 calc(-1 * var(--standard-margin)) var(--hero-margin-bottom);
  padding: 0 var(--standard-margin) var(--p-padding-bottom);
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero, .hero a {
  color: var(--inverse-text-color);
}

.hero h1, .hero p {
  padding: 0 0 16px;
}

.hero h1 {
  font-size: var(--hero-h1-font-size);
  text-align: var(--hero-h1-text-align);
}

.hero .figcaption {
  width: fit-content;
  margin: 40px auto;
  border-bottom: solid 2px var(--inverse-text-color);
}

@media screen and (min-width: 768px) {
  .hero .figcaption {
    margin: 40px auto 56px;
  }
}

.hero .more {
  align-self: center;
  background-image: url("/uploads/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: var(--hero-more-margin-bottom);
  padding-bottom: var(--hero-more-padding-bottom);
}

.hero:first-child {
  min-height: var(--hero-min-height);
  background-image: var(--hero-mobile-background-image);
  background-position: var(--hero-mobile-background-position, center);
  background-repeat: no-repeat;
}

.hero:first-child h1 {
  font-size: var(--h1-font-size);
}

@media screen and (min-width: 768px) {
  .hero:first-child {
    background-image: var(--hero-desktop-background-image);
    background-position: var(--hero-desktop-background-position, center);
  }
}

.video {
  position: relative;
  width: 100%;
  min-width: 100%;
  padding-bottom: 56.25%;
  margin: 80px 0;
}

.video>iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.social-buttons li {
  margin: 0 12px 80px;
}

.columns {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
  .columns figure {
    margin-right: 40px;
  }
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .counter {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .counter {
    align-items: baseline;
  }
}

.counter ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 40px 11px 24px 0;
}

.counter ul li {
  position: relative;
  margin: 0 1px 0 0;
  width: 29px;
  height: 48px;
  background-color: #EDEDED;
  color: #333333;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  z-index: 0;
}

@media screen and (min-width: 1280px) {
  .counter ul li {
    width: 48px;
    height: 80px;
    font-size: 40px;
  }
}

.counter ul li::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  border-top: solid 1px #828282;
  z-index: -1;
}