@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Montserrat');
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html, body, a {
  color: #333333;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Lato, sans-serif;
  font-style: normal;
  margin: 0.25em;
}

.dark, .dark a {
  color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  line-height: 40px;
  font-size: 29px;
}

p {
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.02em;
}