@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Montserrat');
:root {
  /* Global variables */
  --normal-text-color: #333333;
  --inverse-text-color: #F9F9F9;
  --sans-serif-font-family: Lato, sans-serif;
  --serif-font-family: Crimson Text, serif;
  /* Responsive variables */
  --h1-font-size: 24px;
  --h1-padding-bottom: 40px;
  --p-font-size: 16px;
  --p-padding-bottom: 80px;
  --figcaption-font-size: 12px;
  --figcaption-padding-bottom: 19px;
  --blocks-max-width: 200px;
  --blocks-align-items: center;
  --blocks-justify-content: center;
  --blocks-horizontal-margins: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  :root {
    --h1-font-size: 36px;
    --p-font-size: 18px;
    --figcaption-font-size: 16px;
    --figcaption-padding-bottom: 17px;
    --blocks-max-width: 158px;
    --blocks-align-items: flex-start;
    --blocks-justify-content: space-evenly;
    --blocks-horizontal-margins: 22px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --h1-font-size: 47px;
    --p-font-size: 20px;
    --figcaption-font-size: 16px;
    --figcaption-padding-bottom: 17px;
    --blocks-align-items: flex-start;
    --blocks-justify-content: space-evenly;
    --blocks-horizontal-margins: 27px;
  }
}

/* Styles */

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--sans-serif-font-family);
  font-style: normal;
  margin: 0;
}

html, body, a {
  color: var(--normal-text-color);
}

h1 {
  font-weight: 600;
  font-size: var(--h1-font-size);
  line-height: 1.5em;
  margin: 0;
  padding: 0 0 var(--h1-padding-bottom);
}

p {
  font-size: var(--p-font-size);
  line-height: 1.5em;
  margin: 0;
  padding: 0 0 var(--p-padding-bottom);
}

figure {
  margin: 0;
}

.figcaption {
  font-size: var(--figcaption-font-size);
  margin: 0;
  padding: var(--figcaption-padding-bottom) 0;
}

.center {
  text-align: center;
}

ul.blocks, blockquote ul {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--blocks-align-items);
  justify-content: var(--blocks-justify-content);
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.blocks li, blockquote ul li {
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul.blocks li img, blockquote ul li img {
  width: 100%;
  max-width: var(--blocks-max-width);
  margin-bottom: 16px;
}

.call-to-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--inverse-text-color);
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  width: 200px;
  height: 48px;
  background-color: #412CCE;
}

blockquote {
  max-width: 524px;
  margin: 0 auto;
  font-family: var(--serif-font-family);
  font-size: var(--p-font-size);
  letter-spacing: 0.02em;
}

blockquote blockquote {
  font-family: var(--sans-serif-font-family);
  width: fit-content;
}

blockquote p {
  padding-bottom: 40px;
}

input {
  font-family: var(--sans-serif-font-family);
}