<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.social.description | markdownify | strip_html | trim }}" />
  <meta property="og:image" content="{{ page.social.image }}" />
  <meta name="twitter:card" content="summary">
  <meta name="description" content="{{ page.social.description | markdownify | strip_html | trim }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/master.css">
  <link rel="stylesheet" href="/assets/header.css">
  <link rel="stylesheet" href="/assets/default.css">
  {% if page.css %}
    <style type="text/css">
      {{ page.css }}
    </style>
  {% endif %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NWMLKZB');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWMLKZB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav id="main-navigation">
    <button class="corner" data-for="main-navigation">
        Menu
    </button>
    <a href="/" class="logo">
      Harmony Aikido Foundation home
    </a>
    <section>
      <ul>
        {% for item in site.navigation.main %}
          <li class="{% if item.items %}dropdown{% endif %}">
            <a href="{{ item.url }}">
              {{ item.label }}
            </a>
            {% if item.items %}
              <ul>
                {% for subitem in item.items %}
                  <li>
                    <a href="{{ subitem.url }}">
                      {{ subitem.label }}
                    </a>
                  </li>        
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="navigation-call-to-action">
      <ul>
        <li>
          <a href="{{ page.navigation.call_to_action.url | default: site.navigation.call_to_action.url }}">
            {{ page.navigation.call_to_action.label | default: site.navigation.call_to_action.label }}
          </a>
        </li>
      </ul>
    </section>
  </nav>
  <main>
    <article>
      {{ content }}
    </article>
  </main>
  {% if page.show_subscribe_form %}
  <form action="https://hafusa.us16.list-manage.com/subscribe/post?u=626709feeedcbadf255c33e2f&amp;id={{ site.subscribe_form.mailchimp_list_id}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <section class="subscribe">
        <header>
          <h1>
            Subscribe
          </h1>
          to get our newsletter
        </header>
        <div class="input">
          <div class="mc-field-group email-container">
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="YOUR E-MAIL ADDRESS">
          </div>
          <div id="mce-responses" class="clear">
            <p class="response" id="mce-error-response" style="display:none"></p>
            <p class="response" id="mce-success-response" style="display:none"></p>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_626709feeedcbadf255c33e2f_715de3ccdb" tabindex="-1" value=""></div>
        </div>
        <div class="clear">
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button call-to-action">
        </div>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
      </section>
    </form>
  {% endif %}
  <footer>
    <section>
      <div class="h-card">
        <a href="/" class="u-url">
            <img class="u-photo" src="/uploads/logo-footer.png" alt="Harmony Aikido Foundation">
        </a>
        <a class="u-email" href="mailto:{{ site.contact.email }}">
          {{ site.contact.email }}
        </a>
        <ul class="social-buttons">
          <li>
            <a href="https://go.hafusa.org/youtube-hafusaorg" target="_blank" class="u-url">
              <img src="/uploads/icon-youtube.svg" alt="Youtube">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hafusaorg" target="_blank" class="u-url">
              <img src="/uploads/icon-instagram.svg" alt="Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/hafusaorg" target="_blank" class="u-url">
              <img src="/uploads/icon-facebook.svg" alt="Facebook">
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="navigation">
      <ul>
        {% for item in site.navigation.footer %}
          <li>
            <a href="{{ item.url }}">
              {{ item.label }}
            </a>
            {% if item.items %}
              <ul>
                {% for subitem in item.items %}
                  <li>
                    <a href="{{ subitem.url }}">
                      {{ subitem.label }}
                    </a>
                  </li>        
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="center">
      <p class="copyright">
        &copy; 2018  All Rights Reserved  Harmony Aikido Foundation
      </p>
      <p class="attribution">
          This website is designed by
          <a href="https://rachelatmadja.com/" target="_blank">Rachel Atmadja</a>
          &amp; developed by
          <a href="https://thzinc.com/" target="_blank">Daniel James</a>
      </p>
    </section>
  </footer>
  <script type="text/javascript" src="/assets/main.js"></script>
</body>

</html>