<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta property="og:url" content="{{page.url}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.social.description | markdownify | strip_html | trim }}" />
  <meta property="og:image" content="{{ page.social.image }}" />
  <meta name="twitter:card" content="summary">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/master.css">
  <link rel="stylesheet" href="/assets/header.css">
  <link rel="stylesheet" href="/assets/default.css">
  {% if page.css %}
    <style type="text/css">
      {{ page.css }}
    </style>
  {% endif %}
</head>

<body>
  <nav id="main-navigation">
    <a href="#" class="corner" data-for="main-navigation">
        Menu
    </a>
    <a href="/" class="logo">
      Harmony Aikido Foundation home
    </a>
    <section>
      <ul>
        {% for item in site.navigation.main %}
          <li class="{% if item.items %}dropdown{% endif %}">
            <a href="{{ item.url }}">
              {{ item.label }}
            </a>
            {% if item.items %}
              <ul>
                {% for subitem in item.items %}
                  <li>
                    <a href="{{ subitem.url }}">
                      {{ subitem.label }}
                    </a>
                  </li>        
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
  </nav>
  <main>
    <article>
      {{ content }}
    </article>
    <!-- <pre>{{ site | inspect }}</pre> -->
  </main>
  <footer>
    <section>
      <div class="left">
        <img src="/uploads/logo-footer.png" alt="Harmony Aikido Foundation">
      </div>
      <div class="right">
        <div class="social">
          <a href="https://go.hafusa.org/youtube-hafusaorg" target="_blank">
            <img src="/uploads/icon-youtube.svg" alt="Youtube">
          </a>
          <a href="https://www.instagram.com/hafusaorg" target="_blank">
            <img src="/uploads/icon-instagram.svg" alt="Instagram">
          </a>
          <a href="https://www.facebook.com/hafusaorg" target="_blank">
            <img src="/uploads/icon-facebook.svg" alt="Facebook">
          </a>
        </div>
        <p>
            Have a question? Email us at <a href="mailto:info@hafusa.org">info@hafusa.org</a>
        </p>
      </div>
    </section>
    <section>
      <ul>
        {% for item in site.navigation.footer %}
          <li>
            <a href="{{ item.url }}">
              {{ item.label }}
            </a>
            {% if item.items %}
              <ul>
                {% for subitem in item.items %}
                  <li>
                    <a href="{{ subitem.url }}">
                      {{ subitem.label }}
                    </a>
                  </li>        
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
    <section class="center">
       <p>
         &copy; 2018  All Rights Reserved  Harmony Aikido Foundation
        </p>
        <p>
          Website designed by <a href="#">Rachel Atmadja</a> & developed by <a href="#">Daniel James</a>
        </p>
    </section>
  </footer>
  <script type="text/javascript" src="/assets/main.js"></script>
</body>

</html>